
{% extends "flights/base.html" %}

{% block title %}
Flight {{ flight.id}}
{% endblock%}

{%block header%}Flight {{ flight.id}}{%endblock%}

{%block body%}
	<ul>
		<li> Origin: {{ flight.origin }}</li>
		<li> Destination: {{ flight.destination }}</li>
	</ul>

	<h1>Passengers</h1>
	<ul>
		{% for i in passengers%}
		<li>{{i}}</li>
		{% empty %}
		<li>No Passengers</li>
		{% endfor%}
	</ul>
	<hr>
	<h2>Add a Passenger</h2>

	{% if non_passengers%}
	<form action="{% url 'book' flight.id %}" method="post">
		{% csrf_token %}
		<select name="passenger">
		{% for i in non_passengers %}
			<option value="{{i.id}}">{{i}}</option>
		{% endfor %}
			
		</select>
		<input type="submit" value="Book Flight"/>
	</form>
	{% else %}
	<div><h4>No passengers to add</h4></div>
	{% endif %}

	<a href="{% url 'index' %}">Go back to index page</a>

{%endblock%}

